body {
    font-family: 'Arial', sans-serif;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 150px;
}

p {
    color: #555;
    text-align: center;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #9687eb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}