<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/welcome.css">
    <title>Puja Kerang Ajaib</title>
</head>
<body>
    <h1>!!!Puja Kerang Ajaib!!!</h1>
    <form action="/selamatdatang" method="post">
        <label for="nama">Masukan Namamu</label>
        <input type="text" name="nama" required>
        <button type="submit">Beri Saya Perintah</button>
    </form>
</body>
</html>